/*
  @Nuno Costa [criacaoweb.net].
  @Since [cms 1.6]
  @Status [beta2]
    --------------------------------------------------------------- 
*/
body{
	/*background: #7CA3B5;*/
	background: #fff url(uploads/NCleanBlue/bg__full.png) repeat-x scroll left top;
	font: normal 0.8em Tahoma,Verdana, Arial, Helvetica, sans-serif;
	color: #3A3A36;
	text-align:center;
	}
	
/*	 Mask helper  for browsers ZOOM, Rezise and Decrease */
#ncleanblue {
	width:auto;
	background: #fff url(uploads/NCleanBlue/bg__full.png) repeat-x scroll left top;
	}

 .accessibility, hr {
   position: absolute;
   top: -999%;
   left: -999%;
  background: none;
     border: 0;
     clear: both;
     display: block;
     float: none;
     font-size: 0;
     margin: 0;
     padding: 0;
     overflow: hidden;
     visibility: hidden;
     width: 0;
     height: 0;
	 border:none;
}

/* ------------ Standard  HTML elements ------------ */	
strong {
	font-weight: bold;
}

p {
	padding:0;
	margin-top: 0.5em;
	margin-bottom: 1em;
	/*display: inline-block;*/	
	
}
h1,h2,h3,h4,h5{
	line-height:1.6em;
	font-weight:normal;
	width:auto;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	
}
a{
	color:#679EBC;
	text-decoration: none;
	text-align:left;
}
a:hover{
	color:#3A6B85;
}
a:active{
	color:#3A6B85;
}
a:visited{
	color:#679EBC;
}

/* ------------ Wrapper ------------ */
div#pagewrapper { 
font-size: 95%;
position:relative;
z-index:1;
}

/* ------------ Header ------------ */
#header{
	height: 111px;
	width: 960px;
	/*position:relative;
	background:red;*/
	}
#logo a{
	background: url(uploads/NCleanBlue/logo.png) no-repeat left top;
	height: 75px;
	width: 215px;
	display:block;
	text-indent:-9999em;
	margin-top:0;
	margin-left:0;
	}


 /* ------------ Header - Search ------------ */
div#search{
	width:190px;
	height:28px;
	margin-top: 31px;
	margin-right: 20px;
	}

div#search label {
	text-indent: -9999em;
	height:0pt;
	width:0pt;
	display:none;
	
}

div#search input#cntnt01searchinput{
	width:143px;/*153px*/
	height:17px;/*28px*/
	background: url(uploads/NCleanBlue/search.png) no-repeat left top;
	border-style: none;
	color: #999;
	padding: 7px 0px 4px 10px;
	float:left;
	font: bold 0.9em Arial, Helvetica, sans-serif;
}
div#search input.search-botton
    {
	width:37px;
	height:28px;
	border-style: none;
	text-indent: -9999em;
	background: transparent url(uploads/NCleanBlue/search.png) no-repeat right top;
	float:left;
	margin: 0;
	cursor:pointer;
	font-size: 0px;
	line-height: 0px;
	
}
/* ------------ Content ------------ */

#content{
	/*background:blue;
	background:transparent url(../layout/bg__content.png) repeat-y left top;*/
	width: auto;
	text-align: left;
	}
#bar{
	width: auto;
	height:40px;
	padding-right: 1em;
	padding-left: 1em;
	}
.print{
	margin-right:80px;
	margin-top: 5px;
}
#version{
	width: 50px;/*81px*/
	height:31px;/*81px*/
	background:  url(uploads/NCleanBlue/version.png) no-repeat left top;
	position: absolute;
	z-index:5;
	top:130px;
	right:-16px;
	font-size: 1.6em;
	font-weight: bold;
	padding: 28px 15px;
	color: #FFF;
	text-align: center;
	vertical-align:middle;
	}
* html div#version{
	top:150px;
	}

h1.title{
	font-size: 1.8em;
	color: #666666;
	margin-bottom: 0.5em;
	}
div.breadcrumbs {
	padding: 0.5em 0;
	font-size: 80%;
	margin: 0 1em;
}
div.breadcrumbs span.lastitem { 
   font-weight:bold; 
 } 
/* ------------ Side Bar (Left) ------------ */	
#left{
	width: 250px;
	}
#left .screen{
	margin: 10px 50px;	
	}
.sbar-title{
	font:bold 1.2em Arial, Helvetica, sans-serif;
	color: #252523;
}

.sbar-top{
	background:url(uploads/NCleanBlue/bg__content.png) no-repeat left top;
	height:20px;
	width: auto;
	padding: 10px;
	}
.sbar-main{
	width: auto;
	border-right: 1px solid #E2E2E2;
	border-left: 1px solid #E2E2E2;
	background:#F0F0F0;
	/*min-height:185px;
	height:auto!important;
	height:185px;*/
	}
span.sbar-bottom{
	width: auto;
	background:url(uploads/NCleanBlue/bg__content.png) no-repeat left bottom;
	display:block;
	height: 10px;
}

/* ------------ Main (Right) ------------ */	
#main{
	width: 690px;
	}
	
.main-top{
	background:url(uploads/NCleanBlue/bg__content.png) no-repeat right top;
	height:20px;
	width: auto;
    }
.main-main{
	width: auto;
	border-right: 1px solid #E2E2E2;
	border-left: 1px solid #E2E2E2;
	background:#F0F0F0;
/*	min-height:250px;
	height:auto!important;
	height:250px;*/
	padding: 20px;
	}
.main-bottom{
	width: auto;
	background:url(uploads/NCleanBlue/bg__content.png) no-repeat right bottom;
	height: 41px;
}
.right49, .left49{
	font-size: 0.85em;
	margin: 7px 5px 5px;
	font-weight: bold;
}
.left49 span{
	display:block;
	}
.left49 a{
	font-weight: normal;
	}		

.right49 {
	background: url(uploads/NCleanBlue/bull.png) no-repeat right top;
	height: 28px;
	width:50px;
	padding-right: 10px;
	}
.right49 a, .right49 a:visited {
	padding:7px 4px;
	display:block;
	background: url(uploads/NCleanBlue/bull.png) no-repeat  left top;
	color: #000;
	height: 15px;
	}
#main h2, #main h3, #main h4, #main h5, #main h6{
	font-size: 1.4em;
	color: #301E12;	
	}

div#main ul,
div#main ol,
div#main dl,
#footer ul,
#footer ol
{
	line-height: 1em;
    margin: 0 0 1.5em 0;
	}
div#main ul,
#footer ul {
	list-style: circle;
	}
div#main ul li,
div#main ol li,
#footer ul li,
#footer ol li{
	padding: 2px 2px 2px 5px;
	margin-left: 20px;
	}
/* definition lists topics on bold */
div#main dl dt {
   font-weight: bold;
   margin: 0 0 0 1em;
}
div#main dl dd {
   margin: 0 0 1em 1em;
}

div#main dl {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #c0c0c0;
}	
/* ------------ News ------------ */
 #news{ padding: 10px; }
	
.NewsSummary{}
.NewsSummaryPostdate,
.NewsSummaryCategory,
.NewsSummaryAuthor
{
	font-style: italic;
	font-size: 0.8em;
}
.NewsSummaryLink{margin: 2px 0;}

.NewsSummaryContent{margin: 5px 0;}

/* ------------ Footer ------------ */



#footer-wrapper{
	background: #7CA3B5 url(uploads/NCleanBlue/bg__footer.png) repeat-x left top;
	min-height:235px;
	height:auto!important;
	height:235px;
	width: auto;
	margin-top: 5px;
	text-align:center;
	margin-right: 00px;
	margin-left: 0px;
			}
#footer{
	background: #7CA3B5 url(uploads/NCleanBlue/bg__footer.png) repeat-x left top;
	color: #FFF;
	font-size: 0.8em;
	min-height:235px;
	height:auto!important;
	height:235px;
	}
#footer .block{
	width:300px;
	margin:20px 10px 10px;
	}
#footer .cms{
	text-align: right;
	}
/* ------------ Footer Links ------------ */

#footer ul{
	width: auto;
	text-align:left;
	margin-left:50px;
	}
	
#footer ul li {
}

#footer ul li a {
	color: #FFF;
	display: block;
	font-weight: normal;
	/*padding: 1px 1px 1px 20px;
	background: url(uploads/NCleanBlue/arrowF.gif) no-repeat left 0px;*/
	margin-bottom:0.5em;
	text-decoration: none;
	}
#footer a {
	color: #DCEDF1;
	text-decoration: underline;
	font-weight: bold;
	}			

/* 
------------------------------
END LAYOUT
-----------------------------
*/
/* ------------  Menu  ROOT  ------------ */ 
.page-menu
{
	width:auto;
	height:35px;
	margin:3px 0 0 20px;
	}

.menuwrapper{}

.page-menu ul#primary-nav {
	height:1%;
	float:left;
	list-style: none;
	padding:0;
	margin:0;
	
}
.page-menu ul#primary-nav  li{
    float: left;
		
}
 .page-menu ul#primary-nav  li a, .page-menu ul#primary-nav li a span {
	display: block;
    padding: 0 10px;
	background-repeat:no-repeat;
	background-image: url(uploads/NCleanBlue/tabs.gif);
    }

.page-menu ul#primary-nav li a
{
	padding-left: 0;
	color: #000;
	font-weight: bold;
	line-height: 2.15em;
	text-decoration: none;
	margin-left: 1px;
	font-size: 0.85em;
}
.page-menu ul#primary-nav  li a:hover, .page-menu ul#primary-nav li  a:active {
	color: #000;
		}

.page-menu ul#primary-nav li a.menuactive,
.page-menu ul#primary-nav li a:hover span {
	color: #000;
}
.page-menu ul#primary-nav li a span {
   padding-top: 6px;
    padding-right: 0;
	padding-bottom: 5px;
	
}

.page-menu ul#primary-nav li a.menuactive, .page-menu ul#primary-nav li a:hover, .page-menu ul#primary-nav li a:focus, .page-menu ul#primary-nav li a:active {
    background-position: 100% -120px;
}
.page-menu ul#primary-nav li a {
    background-position: 100% -80px;
}
.page-menu ul#primary-nav li a.menuactive span, .page-menu ul#primary-nav li a:hover span, .page-menu ul#primary-nav li a:focus span, .page-menu ul#primary-nav li a:active span {
    background-position: 0 -40px;
}
.page-menu ul#primary-nav li a span {
    background-position: 0 0;
}
.page-menu ul#primary-nav li a:link.menuactive , .page-menu ul#primary-nav li a:visited.menuactive  { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.page-menu ul#primary-nav li span, .page-menu ul#primary-nav li a, .page-menu ul#primary-nav li a:hover, .page-menu ul#primary-nav li a:focus, .page-menu ul#primary-nav li a:active
{ /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}

/* Additional IE specific bug fixes... */
* html .page-menu ul#primary-nav { 
    display: inline-block;
}
*:first-child+html .page-menu ul#primary-nav  { 
    display: inline-block;
}




/* --------------------  Menu Dropdow  -------------------------
/* Unless you know what you do, do not touch this */
/* Set the width of the menu elements at second level. Leaving first level flexible. */
ul#primary-nav li li { 
        width: 209px; 
       }
/* Reset all ROOT menu styles. */
ul#primary-nav ul.unli li li a span,
ul#primary-nav ul.unli li a span,
ul#primary-nav .menuparent .unli .menuparent .unli li a span
{
	font-weight: normal;
	background-image:none;
	display:block;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	}
#primary-nav {
   margin: 0px; 
	padding: 0px;
       }

#primary-nav ul { 
	list-style: none; 
	margin: 0px; 
	padding: 0px; 
	}
#primary-nav ul {
	position: absolute;
	z-index:1001;
	top: auto; 
	display: none;
    padding-bottom:9px;
    background: url(uploads/NCleanBlue/ulbtm.png) no-repeat left bottom; 
	}
* html #primary-nav ul.unli {
        padding-bottom:16px;
        background: url(uploads/NCleanBlue/ulbtm.gif) no-repeat left bottom; 
	}
#primary-nav ul.unli ul { 
	margin-top: 1px;
 	margin-left: -20px;
	left: 100%; 
	top: 3px; 
	}
/* * html #primary-nav ul ul { 
	margin-top: 1px;
 	margin-left: -27px;
	left: 100%; 
	top: 3px; 
	}*/		
#primary-nav li { 
	margin: 0px;
	float: left; 
	}
#primary-nav li li {
	margin-left: 8px;
	margin-top: -1px;
	float: none; 
	position: relative; 
	}
/* IE7 */	
*:first-child+html #primary-nav li li{
	margin-left: 0;
	}
/* IE6 */	
* html #primary-nav li li{
	margin-left: 0;
	}
	
	
/* Styling the basic apperance of the menu elements */

#primary-nav .separator, #primary-nav .separatorh {
        height:9px;
        margin:-8px 0px 0px;
        background: url(uploads/NCleanBlue/ultop.png) no-repeat left top; 
	}
 * html #primary-nav .separator {
        height:2px;
        background: url(uploads/NCleanBlue/ultop.gif) no-repeat left top; 
	}
 * html #primary-nav .separatorh {
        height:2px;
        background: url(uploads/NCleanBlue/ultop.gif) no-repeat left top; 
	}
#primary-nav ul.unli li a { 
	padding: 0px 10px;
    width:165px;
	margin:5px;
	background-image:none;
	}
		
 * html #primary-nav ul.unli li a { 
	padding: 0px 10px 0px 5px;
    width:165px;
	margin:5px 0px;
       	}
#primary-nav li li a:hover{ 
	background-color: #DBE7F2;
	 }
		
	
#primary-nav li{
        }

#primary-nav li.menuparent { 
	}

/* Styling the basic apperance of the active page elements (shows what page in the menu is being displayed) */

#primary-nav li.menuactive li a {
	text-decoration: none;
    background: none;
}
#primary-nav ul.unli a:hover {
	background-color: #DBE7F2;
}


/* Styling the basic apperance of the menuparents - here styled the same on hover (fixes IE bug) */

#primary-nav ul.unli li .menuparent,
#primary-nav ul.unli li .menuparent:hover,
#primary-nav ul.unli li .menuparent,
#primary-nav .menuactive.menuparent .unli .menuactive.menuparent .menuactive.menuparent
{ 
	background-image: url(uploads/NCleanBlue/arrow.gif); 
	background-position: center right; 
	background-repeat: no-repeat;

	}

/* Styling the apperance of menu items on hover */

#primary-nav li:hover, #primary-nav li.menuh, #primary-nav li.menuparenth, #primary-nav li.menuactiveh {

}


/* The magic - set to work for up to a 3 level menu, but can be increased unlimited */

#primary-nav ul, #primary-nav li:hover ul, #primary-nav li:hover ul ul, #primary-nav li:hover ul ul ul,
#primary-nav li.menuparenth ul, #primary-nav li.menuparenth ul ul, #primary-nav li.menuparenth ul ul ul { 
	display: none; 
	}
#primary-nav li:hover ul, #primary-nav ul li:hover ul, #primary-nav ul ul li:hover ul, #primary-nav ul ul ul li:hover ul,
#primary-nav li.menuparenth ul, #primary-nav ul li.menuparenth ul, #primary-nav ul ul li.menuparenth ul, #primary-nav ul ul ul li.menuparenth ul { 
	display: block; 
	}
/* IE Hacks */

#primary-nav li li { 
	float: left; 
	clear: both; 
	}
#primary-nav li li a { 
	height: 1%; 
	}
/********************************/