body {
	font-family: Verdana, serif;
	margin: 0px;
	padding: 0px;
	background: #ccc;
	color: #00ff33;
	font-size: 75.01%;
}

.body img {
	display: block;
	margin: 0px;
	padding: 0px;
}

.body  { 
	color: #333; 
	background: #fff; 
	margin: 1em auto; 
	padding: 0; 
	width: 800px; 
	border: solid 1px #999;
}

p  { 
	color: #333; 
	font-size: 1em; 
	font-family: Verdana, serif; 
	background-color: white;
	margin: 0;
}

h1  { 
	font-family: Verdana, serif; 
	margin: 0 0 1em 0;
   padding: 0 0 0 1em;
   line-height: 2em;
   background-color: #30529C !important;
   font-size: 1.2em;
   color: #fff;
   font-weight: normal;
}

h2 { 
	color: #0f337f; 
	font-size: 1.2em; 
	font-family: Verdana, serif; 
	font-weight: bold; 
	background-color: white; 
	text-align: center;
}

h3   { 
	color: #0f337f; 
	font-size: 1.2em; 
	font-family: Verdana, serif; 
	background-color: white; 
	text-align: left; 
	padding-left: 0.3em;
	padding-bottom: 1px;
	margin-top: 2.5em;
	margin-bottom: 2em;
	border-bottom: 1px solid #e7ab0b; 
	border-left: 1.3em solid #e7ab0b; }

form {
	margin: .5em 0 .8em 0;
}

td, th { 
	padding: 0.4em; 
	border: 1px solid #7F7F7F;
}

.success {
	color: #0C7A14;
	font-weight: bold;
	margin-bottom: .5em;
}

.failure {
	color: #990000;
	font-weight: bold;
	margin-bottom: .5em;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	padding: 0.2em;
	font-family: Verdana, sans-serif;
	background: #fff;
	color: #000;
	font-size: 1em;
	border: 1px #7F7F7F solid;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.countdown {
	border-style: none;
}

table.settings {
	width: 50em;
}

table.legend {
	width: 35em;
}


.error {
	color: red;
	font-weight: bold;
	text-align: center;
}

.have {
	float: right;
	color: #30529C;
	}

.tbcaption {
	margin-left: auto;
	margin-right: auto;
	color: #fff; 
	font-weight: bold; 
	font-size: 1.2em;
	background:  #30529C; 
	padding: 1em 0;
	border: 1px #000 solid;
	border-spacing: 0px;
	border-collapse: collapse;
	border-bottom: none;
}
.tbhead {
	color: #30529C; 
	font-weight: bold; 
	background:  #FFE9AF !important; 
	margin-bottom: 1.5em; 
	width: 100%; 
	text-align: left; 
}


.row1 {
	background: #e7e7e7;
}

.row2 {
	background: #f3f3f3;
}

.col2  { 
	padding-left: 2em;
}

a:link, a:active, a:visited  { color: #30529c; font-weight: bold; }

a:hover  { color: #e7ab0b; font-weight: bold; text-decoration: none }

.main {
	padding-right: 2em;
	padding-left: 2em;
}

.main table {
	margin-left: auto;
	margin-right: auto;
}

.headerish {
	font-family: Verdana, serif;
	font-size: 1.2em;
	text-align: center;
	font-size: 1.6em;
	color: #000;	
}

.countdown td {
	padding: 0.5em;
	font-family: Verdana, sans-serif;
	background: #fff;
	color: #000;
	font-size: 1.2em;
	border: 0px;
}

.countdown .todo {
	background: #aaa;
}

.continue a, .continue a:link, .continue a:active, .continue a:visited {
	color: #fff; 
	font-weight: normal; 
	font-size: 0.9em; 
	font-family: Arial; 
	text-decoration: none; 
	text-align: left;
	background-color: #eea351; 
	border: white 0.4em outset; 
	padding: 0.2em 1.1em 0.2em 1em; 
	display: block; 
	margin: 1px; 
}

.continue a:hover {
	color: #ccc; 
	background-color: #ea8618;
	border: white 0.4em inset; 
	padding-left: 1.1em; 
}
.important {
	color: red;
}

.okmessage { 
    background-color: #ececec;
    border: 1px solid #aaa;
    padding: .5em;
}