/* CMS Made Simple - Modern Theme */
/* 2005 (c) Alexander Endresen - alexander@endresen.org */
/* General tags */
a  {
   text-decoration: none;
   }
   
a:hover  {
   text-decoration: underline;
   }

.pagecontainer a, .breadcrumbs a , .pageback a, .MainMenu a, .itemmenucontainer a  {
	text-decoration: underline;
}

a.move_up {
	margin-right:16px;
}

.pagecontainer a:hover, .breadcrumbs a:hover, .pageback a:hover, .MainMenu a:hover, .itemmenucontainer a:hover  {
	text-decoration: none;
	background: #385C72;
	color: #fff;
}

a:hover img {
	background: transparent;
}
	
body  {
   font-size: 70%;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   background-color: #385c72;
   margin: 0px;
   padding: 0px;
   height: 100%;
   }

h1  {
   font-size: 2em;
   }

h2  {
   font-size: 1.6em;
   }

h3  {
   font-size: 1.2em;
   }

h4  {
   font-size: 1em;
   }

blockquote, input, li, select, th, td  {
   font-size: 1em;
   }

p  {
   font-size: 1em;
   margin: 0px;
   }

form  {
   margin: 0px;
   display: inline;
   }

input  {
   font-size: 1.2em;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   border: solid 1px #666666;
   }

textarea  {
   font-size: 1.2em;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   border: solid 1px #666666;
   width: 48em;
   height: 30em;
   }

select  {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   border: solid 1px #666666;
   }

div  {
   text-align: right;
   }

th, td  {
   text-align: right;
   }
code, tt, pre {
	font-size: 120%;
	}
	
/* Login page */
div.lblayout  {
   margin-left: auto;
   margin-right: auto;
   width: 55em;
   height: auto;
   }

div.lbtopmargin  {
   margin-top: 100px;
   }

div.lball  {
   text-align: center;
   }

div.lbcontainer  {
   background-color: #ececec;
   margin-top: 3px;
   padding: 10px;
   border: solid 1px #555555;
   overflow: hidden;
   }

div.lbinfo  {
   background: url(themes/default/images/vstippled.gif) repeat-y left top;
   text-align: center;
   float: right;
   padding-left: 1em;
   width: 25em;
   }

div.lbfields  {
   background: url(themes/default/images/vstippled.gif) repeat-y right top;
   float: right;
   margin-right: -1px;
   padding-right: 1em;
   width: 28em;
   }

div.lbfieldstext  {
   float: right;
   }

div.lbinput  {
   float: right;
   margin-right: 10px;
   }

input.lbsubmit  {
   color: #ffffff;
   background-color: #999999;
   margin-top: 5px;
   cursor: pointer;
   }

input.lbpassword  {
   margin-top: 5px;
   }

input.order { 
   width:2em;
   font-size: 1em;
	text-align: center;
   }

p.lbuser  {
   color: #555555;
   font-size: 1.2em;
   }

p.lbpass  {
   color: #555555;
   font-size: 1.2em;
   margin-top: 10px;
   }

div.forgot-pw {
	margin-top: 10px;
	}
div.forgot-pw a, div.forgot-pw a:hover, div.forgot-pw a:visited{
	color: #243135;
	font-weight: bold;
}
.acceptLogin  {
	margin: 2px 2px 5px 2px;
	padding: 10px 10px 10px 35px;
	border: 1px solid #BDD3A3;
	color: #000;
	width: auto;
	background: #D6E4C5  url(themes/default/images/icons/system/accept.gif) no-repeat 5px 5px;
	height:1%; /*IE6*/
	display: block;
	text-align: left;
   }
.warningLogin  {
	margin: 2px 2px 5px 2px;
	padding: 10px 10px 10px 35px;
	border: 1px solid #D3C403;
	color: #000;
	width: auto;
	background: #FDF166 url(themes/default/images/icons/system/warning.gif) no-repeat 5px 5px;
	height:1%; /*IE6*/
	display: block;
	text-align: left;
   }
   .lbfieldstart{padding:10px 1px;}
/* Main Page - Menu */
#nav, #nav ul  {
   list-style-type: none;
   margin: 0;
   padding: 0;
   }

#nav ul  {
   border: solid 1px #c6c3bd;
   }
	
#nav a  {
   color: #384654;
   text-decoration: none;
   padding-left: 10px;
   padding-right: 10px;
   display: block;
   }

#nav li a  {
   font-size: 13px;
   margin-top: 2px;
   padding-bottom: 2px;
   }

#nav li ul a  {
   text-align: right;
   margin-top: 0px;
   padding-bottom: 0px;
   position: relative;
   }

#nav li  {
   float: right;

   padding: 0;
   }

#nav li ul  {
   background-color: #f8f8f8;
   margin: 0;
   padding: 0px;
   position: absolute;
   width: auto;
   height: auto;
   display: none;
   position:absolute;
   z-index:999;
}

#nav li li  {
   float: none;
   margin: 0px;
   padding: 0px;
}

#nav li:hover ul ul, #nav li.cssHover ul ul  {
   display: none;
   }

#nav li:hover ul, #nav li.cssHover ul  {
   display: block;
   }

#nav li:hover, #nav li.cssHover, a.module:hover, a.first_module:hover  {
   background-color: #abb0b6;
   }

li.selected  {
   background-color: #bdc0c6;
   }

a.module  {
   background-color: #f0f0f0;
   }

a.first_module  {
   background-color: #f0f0f0;
   border-top: 1px solid #c6c3bd;
   }

#nav li.sep  {
   line-height: 2px;
   border-bottom: 1px solid #c6c3bd;
   }


/* Nav Tools */
div.MainMenu { 
   float:right;
}
div.navt_menu  {
   position: absolute;
   left: 0px;
   }

div.navt_show  {
   background: url(themes/default/images/show_navtools.gif) no-repeat;
   float: right;
   width: 15px;
   height: 81px;
   cursor: pointer;
   }

div.navt_hide  {
   background: url(themes/default/images/hide_navtools.gif) no-repeat;
   float: right;
   width: 15px;
   height: 81px;
   cursor: pointer;
   }

#navt_container  {
   background-color: #bdc0c6;
   float: right;
   border: solid 1px #c6c3bd;
   width: 20em;
   }

#navt_tabs div  {
   color: #384654;
   background-color: #bdc0c6;
   text-align: center;
   float: right;
   padding-left: 8px;
   padding-right: 8px;
   cursor: pointer;
   }

#navt_tabs div:hover, #navt_tabs div.cssHover  {
   background-color: #abb0b6;
   }

#navt_tabs div.active  {
   background-color: #ececec;
   }

#navt_content  {
   color: #384654;
   background-color: #ececec;
   padding: 5px;
   }

#navt_content a  {
   color: #384654;
   }

.visible  {
   display: block;
   }

.invisible  {
   display: none;
   }


/* Page Tabs - used for all page tabs */
#page_tabs  {
   overflow: hidden;
   }

#page_tabs div  {
   color: #fff;
   font-size: 1.1em;
   background-color: #9ca2a9;
   text-align: center;
   float: right;
   margin-left: 5px;
   padding-left: 8px;
   padding-right: 8px;
   cursor: pointer;
   }

#page_tabs div:hover, #page_tabs div.cssHover  {
   background-color: #7a838b;
   }

#page_content  {
   background-color: #e1e1e1;
   padding: 5px;
   border: solid 1px #385c72;
   }

#page_tabs div.active  {
   background-color: #385c72;
   }


/* top*.php files */
a.itemlink  {
   color: #384654;
   font-weight: bold;
   font-size: 1.1em;
   }

a.itemsublink  {
   color: #384654;
   }

div.itemmenucontainer  {
   color: #384654;
   background-color: #ececec;
   margin: 10px;
   padding: 5px;
   border: solid 1px #666;
   width: 45em;
   }

div.itemoverflow  {
   overflow: hidden;
   }

div.itemoverflow img  {
   border: none;
   }

img.itemicon  {
   border: 0px;
   width: 32px;
   height: 32px;
   }

p.itemicon  {
   float: right;
   margin-left: 10px;
   }

p.itemtext  {
   float: right;
   width: 39em;
   }

div.shortcuts {
   width: 15em;
   }

div.shortcuts h2 {
   border-bottom: 1px solid #ccc;
   margin: 0 0 0.3em 0;
}

div.shortcuts h3 {
   padding-top: 1em;
}

div.shortcuts ul {
  margin: 0.5em 0 0 0;
  padding-right: 0;
  }
  
div.shortcuts li {
   background-image: url(themes/default/images/icons/topfiles/shortcut.gif);
   background-repeat: no-repeat;
   background-position: 1em 0.3em;
   padding-right: 2.5em;
   list-style: none;
   line-height: 1.3em;; 
   }
   
div.shortcuts a {
   color: #384654;
   }


/* All pages - Content */
#MainContent  {
   background-color: #fff;
   padding-top: 5px;
   padding-bottom: 5px;
   }

div.topmenucontainer  {
   background-color: #ececec;
   border-bottom: 1px solid #c0c0c0;
width:100%;
   }

div.hstippled  {
   font-size: 1px;
   background: #fff url(themes/default/images/hstippled.gif) repeat-x center;
   height: 1px;
   }

div.breadcrumbs  {
   background-color: #fff;
   }

p.breadcrumbs  {
   color: #666;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-right: 5px;
   }

p.logocontainer  {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 5px;
   }

.footer  {
   color: #fff;
   text-align: center;
   padding-top: 5px;
   clear:both;
   }

a.breadcrumbs  {
   color: #666;
   }

a.footer  {
   color: #fff;
   }


/* Standard pages output */
div.pagecontainer  {
   background-color: #ececec;
   margin: 10px;
   padding: 5px;
   border: solid 1px #666;
   }

div.pagecontainer p {
   margin-bottom: 1em;
}

div.pageerrorcontainer  {
   background-color: #ba5a5a;
   margin: 10px;
   padding: 5px;
   border: solid 1px #666;
   color: #fff;
   width: 95%;
   }
div.pageerrorcontainer a {
   color: #fff;
   text-decoration: underline;
}

div.pageerrorinstalldir  {
   background-color: #ba5a5a;
   margin: 10px;
   padding: 5px;
   border: solid 1px #666;
   width: 45em;
   color: #fff;
   height:1%;/*IE6*/
   }

div.pagemcontainer  {
   background-color: #ccc;
   margin: 10px;
   padding: 5px;
   border: solid 1px #666;
   }

div.pageoverflow  {
   clear: right;
   padding-top: 1px;
   width: 97%; 
   overflow: hidden;
   }

div.pageoverflow a, div.pagecontainer a  {
   color: #384654;
      }

div.pageoverflow img  {
   border: 0px;
   }

div.pageoptions  {
   padding-top: 1px;
   }

img.pageicon  {
   border: none;
   }

img.systemicon  {
   border: none;
   vertical-align: middle;
   }

a.pageoptions  {
   color: #384654;
   vertical-align: 3px;
   }

a.pageback  {
   color: #384654;
   }

p.pageback  {
   margin-right: 10px;
   }

div.pagecontainer .pageheader  {
   color: #384654;
   font-weight: bold;
   font-size: 1.1em;
   margin-bottom: 0;
   border-bottom: 1px solid #ccc;
   margin-bottom: 10px;
   }

div.pagecontainer p.pagetext  {
   color: #384654;
   float: right;
   padding-top: 5px;
   padding-left: 5px;
   width: 15em;
   margin-bottom: 0.5em;
   }

div.pagecontainer span.helptext {
	font-size: 0.9em;
	font-weight: normal;
	margin-right: 1em;
	padding: 2px;
	}
	
div.pagecontainer p.pageinput  {
   color: #384654;
   float: right;
   padding-top: 5px;
   margin-bottom: 0.5em;
   }

p.pageinputwysiwyg  {
   padding-top: 5px;
   }

div.pagecontainer p.pagemessage  {
   margin-bottom: 0;
   }

.pageshowrows  {
   width:50%;
   color: #384654;
   text-align: left;
   float: left;
   margin-left: 5px;
   }

p.pagesubtitle  {
   color: #384654;
   font-weight: bold;
   padding-top: 5px;
   }

p.pageoptions  {
   color: #384654;
   padding-top: 5px;
   }

.pagerows {
   font-size: 1.3em;
}

table.pagetable  {
   font-size: 1em;
   margin-bottom: 5px;
   border: solid 1px #c6c3bd;
   width: 97%;
   }

table.pagetable th  {
   color: #fff;
   background-color: #385c72;
   }
   
table.pagetable th a { 
	background: #385C72; 
	color: #fff; 
	text-decoration: underline;
	}
	
table.pagetable th.active { 
	color: #E6A2FF;
	}
	
table.pagetable th.active a { 
	color: #E6A2FF; 
	text-decoration: underline;
	}

table.pagetable tr  {
   height: 1.8em;
   }
   
table.pagetable td  {
   color: #384654;
   }

table.pagetable a  {
   color: #384654;
   }

th.pagepos  {
   text-align: center;
   }

.move  {
   width: 60px;
   text-align: right;
   padding-right: 5px;
   }

.checkbox {
   padding-right: 10px;
   }
	
th.pagew10  {
   width: 10%;
   }

th.pagew25  {
   width: 25%;
   }

th.pagew50  {
   width: 50%;
   }

th.pagew60  {
   width: 60%;
   }

th.pagew70  {
   width: 70%;
   }

th.pageicon  {
   width: 16px;
   }

td.pagew30  {
   width: 30%;
   }

td.pagepos  {
   text-align: center;
   }
 
tr.row1  {
   background-color: #fff;
   }

tr.row2  {
   background-color: #ececec;
   }
   
tr.row1hover  {
   background-color: #ddd;
   }

tr.row2hover  {
   background-color: #ddd;
   }
   
td.pageicon  {
   background-color: #fff !important;
   }

td.icons_wide {
	width: 25px;
	}
	
iframe.imageframe  {
   margin-top: 10px;
   border: none;
   width: 100%;
   }

iframe.preview  {
   background-color: #fff;
   margin: 10px;
   border: solid 1px #666;
   width: 95%;
   height: 400px;
   }

input.standard  {
   }

input.pagebutton  {
   background-color: #d4d0c8;
   cursor: pointer;
   }

input.pagebuttonhover  {
   background-color: #bbb;
   cursor: pointer;
   }

input.pagecheckbox  {
   border: none;
   }

textarea.pagetextarea  {
   width: 48em;
   height: 30em;
   }

textarea.pagebigtextarea { 
	height: 40em; 
	width: 55em; 
	}
	
textarea.pagesmalltextarea { 
	height: 15em; 
	width: 48em; 
	}

textarea.pageheadtags  {
   height: 5em;
   }

ul.pageerror  {
   margin: 5px 0 10px 0;
   padding-right: 10px;
   }
ul.pageerror li {
	padding-right: 5px;
	margin-right: 15px;
   list-style-image: url("themes/default/images/icons/system/stop.gif");
   }
div.pageerrorcontainer a {
	color: #fff;
	}
.clearb  {
   clear: both;
   }

.loginerror  {
   color: #ce374e;
   }

.logotext  {
   color: #fff;
   font-weight: bold;
   font-size: 1.6em;
   vertical-align: 10px;
   margin-right: 15px;
   }

.imageframe  {
   height: 300px;
   }

.ajaxbutton  {
   clear: both;
   padding-top: 5px;
   padding-right: 1px;
   }
/* Unused it seems.
ul.sortable  {
   margin: 1px;
   padding: 0;
   border: solid 1px black;
   width: 250px;
   height: 80px;
   overflow: auto;
   border-collapse: collapse;
   }

ul.sortable li  {
   list-style-type: none;
*/
/*   list-style-position: ; */
/*
   margin: 1px;
   padding: 0 0 0 5px;
   border: solid 1px #cccccc;
   width: 90%;
   cursor: move;
   }
*/
ul.sortableList {
	list-style-type: none;
	padding: 6px;
	margin: 2px;
	width: 300px; 
}
ul.sortableList li {
	cursor: move;
	padding: 2px 2px; 
	margin: 2px 0px; 
	border: 1px solid #000000;
	background-color: #ffffff;
}
ul.sortableList li li { 
	background-color: #ececec
 }
ul.sortableList li li li { 
	background-color:  #ffffff;
 }
ul.sortableList li li li li { 
	background-color: #ececec
 }
ul.sortableList li li li li li { 
	background-color:  #ffffff;
 }
.important {
 color: red;
}
/*FILEMANGER MESSAGES*/
span.fm-messages{
margin-left:20px;
padding: 0px 2px 2px 10px;
display:block;
}
/*ICONS SYSINFO*/
.icon-extra{
padding-left:10px;
clear:left;
margin:4px 0 0 10px;
display:inline;
}/*ICONS VIEW SITE AND LOGOUT ADMIN*/
div#nav-icons_all
{
	margin:0px;
	padding:0px;
	float:right;
	width:95px;
	height:auto;
	/*background:red;*//*debug*/
}
div#nav-icons_all ul#nav-icons
{
	margin:0;
	list-style-type: none;
	padding:0px;
	text-indent: -999em;
}
div#nav-icons_all ul#nav-icons li
{
	padding:0px;
	float:left;
	height: 1%;	/*IE6*/
	margin-left:10px;
	margin-top:2px;
	}
div#nav-icons_all ul#nav-icons li.viewsite-icon a
{
	display:block;
	padding:1px 0;
	width: 35px;
	background: transparent url(themes/default/images/icons/extra/view.gif) no-repeat  0px 0px ;
	
}
div#nav-icons_all ul#nav-icons li.logout-icon a
{
	display:block;
	padding:1px 0;
	width: 35px;
	background: transparent url(themes/default/images/icons/extra/logout.gif) no-repeat  0px 0px ;	
	}

.group {float: left; padding-right: 25px;}

/* ########### Notifications #################*/
.full-Notifications
{

clear:both;
margin:10px 10px 0 15px;
}
.full-Notifications a, .full-Notifications a:visited
{
	color: #042B3E;
	text-decoration: none;
	font-weight: bold;
}
.full-Notifications a:hover, .full-Notifications a:active
{
	color: #577782;
	text-decoration: underline;
}

div.notifications-show  {
	background: transparent url(themes/default/images/icons/Notifications/notifications_icons.gif) no-repeat left top;
	float: left;
	width:20px;
	height:20px;
	float:left;
	margin:0 5px;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
   }
div.notifications-hide  {
	background:transparent url(themes/default/images/icons/Notifications/notifications_icons.gif) no-repeat right top;
	float: left;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
   }
.Notifications-title
{
	margin: 0;
	font:  1.0em Arial, Helvetica, sans-serif;
	color: #333;
	padding: 3px 0px 1px;	
	float:left;
	height:10px;
	margin-right:5px;
}
.full-Notifications ul#Notifications-area
{
	margin: 20px 0px 0px -20px;
	padding: 0 5px 0 0;
	height: 1%;/*IE*/
	float:left;
	border-top: 1px solid #E2E2E2;
	list-style: none;
	width:550px;
}

.NotificationsItem
{
	margin: 5px 5px 5px 0px;
	padding:2px 0px 2px 30px;
	height: 1%;/*IE*/
	width: auto;
} 
.NotificationsPriority1
{
	background: url(themes/default/images/icons/Notifications/1.gif) no-repeat left top;
} 
.NotificationsPriority2
{
	background: url(themes/default/images/icons/Notifications/2.gif) no-repeat left top;
} 
.NotificationsPriority3
{
background: url(themes/default/images/icons/Notifications/3.gif) no-repeat left top;
} 


/* ########### Dashboard page! #################*/

.clear-db:after {content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
} 
* html .clear-db {height: 1%;} 
.clear-db {display: block;} 


.full-content
{
margin:7px 0;
padding:0;
}

/*CORE*/

.coredashboardcontent 
{
	padding:0px 1px;
	border:1px solid #93AEB7;
	width:98%;
	margin:5px 1% 5px 1%;
}
.dashboardheader-core
 {
	background: #385C72;
    color:#fff;
	width:auto;
	font-size: 1.2em;
	font-weight: bold;
	padding:4px;
 }
.dashboardcontent-core
 {
	color:black;
	width:auto;
	background: #F8F8F8;
	padding:10px 5px;
 }

/*NOT CORE*/
.moduledashboardcontent 
 {
padding:0px 1px;
  border:1px solid #AAC0C6;
   width:48%; 
  float:left;
  margin:5px 0 5px 1%;
 /* background:red; debug*/
 }


.dashboardheader
 {
	background: #4A7A97;
	color:black;
	width:auto;
	font-size: 1.2em;
	font-weight: bold;
	padding:4px;
 }
.dashboardcontent
 {
	color:black;
	width:auto;
	background: #fff;
	padding:5px;
 }